@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css?family=DM+Sans:regular,bold,italic&subset=latin,latin-ext");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
}

.gold {
  color: #f2d39d;
}

.fill-gold {
  fill: #f2d39d;
}

.bg-vid-full {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-size: cover;
}

.vid-overlay {
  opacity: 0.3;
  background: #000;
}

.light .above-the-fold .bg-vid-container {
  background: url(../bg-light.jpg) no-repeat center center fixed;
  background-size: cover;
}

.dark .above-the-fold .bg-vid-container {
  background: url(../bg-dark.jpg) no-repeat center center fixed;
  background-size: cover;
}

.vid {
  object-fit: cover;
}

.bg-wave {
  background: url(../bg-wave.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

video::-webkit-media-controls-overlay-play-button {
  display: none;
}
